@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 180 20% 99%;
    --foreground: 174 75% 15%;

    --card: 0 0% 100%;
    --card-foreground: 174 75% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 174 75% 15%;

    --primary: 174 75% 32%;
    --primary-foreground: 180 20% 99%;

    --secondary: 326 54% 51%;
    --secondary-foreground: 180 20% 99%;

    --muted: 180 12% 90%;
    --muted-foreground: 174 25% 35%;

    --accent: 43 96% 56%;
    --accent-foreground: 174 75% 15%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 180 20% 99%;

    --border: 180 16% 85%;
    --input: 180 16% 85%;
    --ring: 174 75% 32%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 174 75% 15%;
    --foreground: 180 20% 99%;

    --card: 174 75% 15%;
    --card-foreground: 180 20% 99%;

    --popover: 174 75% 15%;
    --popover-foreground: 180 20% 99%;

    --primary: 174 75% 32%;
    --primary-foreground: 180 20% 99%;

    --secondary: 326 54% 51%;
    --secondary-foreground: 180 20% 99%;

    --muted: 174 35% 25%;
    --muted-foreground: 180 12% 90%;

    --accent: 43 96% 56%;
    --accent-foreground: 174 75% 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 180 20% 99%;

    --border: 174 35% 25%;
    --input: 174 35% 25%;
    --ring: 174 75% 32%;

    --radius: 0.5rem;
  }
}